body{
font-family: Arial, sans-serif;
max-width: 900px;
margin: auto;
padding: 20px;
line-height: 1.6;

background-color: #f4f6f8;
color: #2c3e50;
}

<!--CLASE PARA GENERAR LA BARRA LATERAL-->
.sidebar{
  width:220px;
  background:#2c3e50;
  color:white;
  padding:20px;
  height:100vh;
}
