<aside class="sidebar">
  <h2>Kipuna</h2>
  
  <div class="logo">
    <img src="img/avatar.png" alt="Blog Kipuna">
  </div>
  
  <nav>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="blog.html">Blog</a></li>
    </ul>
  </nav>

  <div class="sidebar-socials">
    <a href="https://github.com/kipunaEc" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i> GitHub
    </a>
    <a href="https://youtube.com/@kipunaEc" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-youtube"></i> YouTube
    </a>
  </div>
</aside>
